## pandas--common operation

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A':[1,2,3,4],'B':[444,555,666,444],'C':['abc','def','ghi','xyz']})
df

   A    B    C
0  1  444  abc
1  2  555  def
2  3  666  ghi
3  4  444  xyz

In [11]:
df['B'].unique()

array([444, 555, 666])

In [12]:
df['B'].nunique()

3

In [10]:
df['B'].value_counts()

444    2
555    1
666    1
Name: B, dtype: int64

In [13]:
df[df['A']>2]

   A    B    C
2  3  666  ghi
3  4  444  xyz

In [14]:
def times(x):
    return x*2

In [15]:
df['A'].apply(times)

0    2
1    4
2    6
3    8
Name: A, dtype: int64

In [16]:
df['A'].apply(lambda x: x*2)

0    2
1    4
2    6
3    8
Name: A, dtype: int64

In [17]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [19]:
df.drop('A',axis=1)

     B    C
0  444  abc
1  555  def
2  666  ghi
3  444  xyz

In [20]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
df.sort_values(by='B')

   A    B    C
0  1  444  abc
3  4  444  xyz
1  2  555  def
2  3  666  ghi

In [23]:
df.isnull()

       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [25]:
df.pivot_table(values='A',index='B',columns='C')

C    abc  def  ghi  xyz
B
444  1.0  NaN  NaN  4.0
555  NaN  2.0  NaN  NaN
666  NaN  NaN  3.0  NaN